spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fittrackdb?currentSchema=public
    username: postgresTest
    password: postgresTestPassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
    show-sql: true
    open-in-view: false
