spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fittrackdb?currentSchema=public
    username: fittrack_admin
    password: adminStrongPassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
    show-sql: true
    open-in-view: false

springdoc:
  api-docs:
    path:  /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html